<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clock</title>
    <script src="../js/script.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="../images/favicon-32x32.png" type="image/x-icon">
</head>
<body onload="showTime()">
    <div class="clock" id="clock"> 
        <div class="text" id="text">
            Current Local Time
        </div>
        <div class="time" id="time">
        </div>
    </div>
</body>
</html>